@media (min-width : 320px)
and (max-width : 680px){
    .wrapper{
        width: auto;
        height: 100%;
        object-fit: contain;
    }

 

    .intro2a h1{
        width: auto;
        object-fit: contain;
        display: flex;
        margin: 150px 0 0S;
    }

   

    .aboutmeintro img{
        width: 100%;

        height: 100%;
        object-fit: fill;
    }

    .intro{
        margin: auto;
        /* size-adjust: 20%; */
       display: grid;
       grid-template-columns: auto;
    }

    
    .artikel1 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #badge1{
        width:40%;
        height: auto;
        object-fit: contain;
    }
    #badge2{
        width: 40%;
        height: auto;
        object-fit: contain;
    }
    #badge3{
        width: 40%;
        height: auto;
        object-fit: contain;
    }

}
    /* .badge h3,a,button{
        width: 100%;
        object-fit: contain;
    } */
   


        body{
            background-color: pink;
            /* background: rgb(34,193,195); */
            background: linear-gradient(0deg, rgba(34,193,195,1) 10%, rgba(255,160,213,1) 78%);
        
        }

        *{
            font-family: 'Poppins';
            list-style: none;
            text-decoration: none;
            
        }

    
          /* nav----------- */

        nav ul{
            border: 1px;
            background-color:rgba(255,160,213,1);
            color: black;
            padding: 1px;
            margin:0px;
            text-align: left;
            /* display: inline-block; */
            /* vertical-align: top; */
        }

        nav li {
            color: paleturquoise;
            font-size: 18px;
            font-weight: 600;
            padding: 1px;
        }

        nav a {
            color: white;
            border-bottom: 1px;
        }

        ul li a:hover{
            color:aqua;
            border-color: black;

        }

        ul li a{
            padding: 0px 1px;
        }

        #navbar{
            display:flex;
            margin:0px;
            padding:10px;
            align-items: center;

        }

        .back a:hover{
            color:aqua;
        }

        .logo{
        
            margin: auto;
            width: fit-content;
            width: -moz-fit-content;
            position: absolute;
            right: 0px;
            color: white;
            padding: 5px;
            
        } 

        .logo a:hover{
            color: rgb(83, 255, 238);
        }

        #galeria{margin: 0 auto;
            padding: 0px 0px;
            width: 810px;}
            

        

        /*------GRID Artikel CSS--------*/

        .wrapper{
            display: grid;
            grid-template-columns: 20px 20px 300px ;
            border: 10px;
            margin: 1px;
            padding: 1px;
            margin: auto;
            width: fit-content;
            width: -moz-fit-content;
        }
        
        .box1{
            grid-column: 3;
            grid-row: 1;
            margin-left: 50% 50%;    
            margin-top: 20%; 
            text-align: center; 
            margin-bottom: 20px;
        }

        
        .box2{

            grid-column: 3;
            grid-row: 3;
            text-align: justify; 
            margin: 40px 20px;

        }



        /* .box2a {
            grid-column: 1/3;
            grid-row: 2;

        } */

        .box2 i{
            position: absolute;
            margin-left: -50px;
            margin-top: 0px;
        }

        .box2 i{
            color: white;

        }



        /* about me intro */
        .aboutmeintro{
            margin: 30px 0 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* grid-template-columns: 30% 60%; */
        }

        .aboutmeintro img{
            width: auto;
            height: 100%;
            object-fit: contain;
        }
        /* .pas-me img{
            position: absolute;
        } */

        .intro button{
            background-color: pink;
            color: black;
            font-size: 20px;
            border-radius: 45px;
        }

        .intro button:hover{
            background-color: turquoise;
            color: white;

        }

        .intro{

            margin-top: 0px;
            margin-left: 10px;
            position: relative;
            padding-top: 80px;
        }

        .intro2{
            display: grid;
            grid-template-columns: 50% 50%;
            margin:10px;
            padding: 0px;
            column-gap: 5%;
            justify-items: center;
        }
        .intro2 h1{
            text-align: center;
        }
        .intro2 h1:hover{
            color: aqua;
        }

        .intro2 h3{
            color: white;
            text-align: justify;
        }

        /*----------artikel di index---------------*/
        article{ /* tadi ini .artikel*/
            margin: auto;
            width: fit-content;
            width: -moz-fit-content;
            display: grid;
            margin:100px;
        }

      

        article:hover{
            /* background-color: turquoise; */
            color: white;
        }
        /* .artikel:hover{
            color: white;
        } */

        .artikel a{
            color: black;

        }

      
        .artikel1 a{
            color: white;
        }

        .artikel1 h3{
            border: dotted;
            border-color: white;
            padding: 10px 10px;

        }

        .artikel1 img{
            width: 100%;
        }

        .fa fa-arrow-left{
            z-index: 1;
        }

        .artikel button{
            color: black;
            background-color: pink;
            font-size: 16px;
            border-style: dotted;
            border-color: white;
            position: relative;
        } 

        .artikel button:hover{
            border-color: aqua;
        }


/* footer okeeh */

footer{
    padding-bottom: 180px;
    width:100%;
    height:35%; 
    margin: 0px;
    height: 50px;
    flex-shrink: 0;
    bottom: -1650px;
    left:0;
    background-color:rgba(29, 157, 159, 1);
}

#ft{
    color: white;
    text-align: center;
}

footer button {
    width: 200px;
    height: 80px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background: linear-gradient(0deg, rgba(34,193,195,1) 10%, rgba(255,160,213,1) 78%);
}

footer button:hover{
    background: linear-gradient(0deg, rgb(27, 149, 151) 10%, rgb(201, 126, 167) 78%);
}



        /*----Skill pages------------------------------------- */

        
body{
    font-family: Helvetica, Arial, sans-serif;
}

.skillpage{
    width: 50%;
    margin: 0 auto;
}

.skillpage h1{
    text-align: center;
    color: white;

}

.skillpage h1:hover{
    color: rgb(75, 246, 255);


}



@keyframes load{
    from {  
        width: 0%
    }
}

@-webkit-keyframes load{
    from {  
        width: 0%
    }
}

@-moz-keyframes load{
    from {

        width: 0%
    }
}

@-o-keyframes load{
    from {

        width: 0%
    }
}

.bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 10s 0s;
    -webkit-animation: load 10s 0s;
    -moz-animation: load 10s 0s;
    -o-animation: load 10s 0s;
}


.bar.front::before{
    background-color: #ffcc33;

}

.bar.back::before{
    background-color: #a6cfe3;

}



.bar.learning::before{
    width: calc(20% - 10px);

}

.bar.basic::before{
    width: calc(40% - 10px);

}

.bar.intermediate::before{
    width: calc(50% - 10px);

}



.bar.pre-advanced::before{
    width: calc(70% - 10px);

}
.bar.advanced::before{
    width: calc(80% - 10px);

}

.bar.expert::before{
    width: calc(100% - 10px);

}



/* badge sertifikat */
.badge {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
}

.badge h3{
    color:white;
    align-items: center;
    text-align: center;
}




.badge button{
    color: black;
    background-color: rgb(247, 250, 101);
    border-radius: 20%;
    
}

.badge button:hover{
    background-color: rgb(171, 172, 72);
}







* {cursor: url(http://cur.cursors-4u.net/nature/nat-3/nat260.cur), auto;}

    

.snowflakes {
	width: 100%; 
	position: absolute; top: 50px; left: 0;
}

.snowflakes i, .snowflakes i:after, .snowflakes i:before { background: white; }
.snowflakes i {
	display: inline-block;
	animation: snowflakes 3s linear 2s 20;
	animation: snowflakes 3s linear 2s 20;
	position: relative;
}
.snowflakes i:after, .snowflakes i:before {
	height: 100%; /*bentuk*/
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: 0px;
	transform: rotate(120deg);
}
.snowflakes i:before { transform: rotate(240deg); }

@keyframes snowflakes {
	0% {
		transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		transform: translate3d(15px, 900px, 0px) rotate(360deg) scale(0.4);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
    animation-duration: 100s;
    animation-iteration-count: 1000;
    transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
    animation-duration: 6s;
    animation-iteration-count: 1000;
    transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	animation-duration: 8s;
	animation-iteration-count: 1000;
	transform-origin: right -15px;
}
	
/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
    opacity:.3;
    animation-delay: 0s;
    animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
    opacity:.4;
    animation-delay: 1s;
    animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
    opacity:.5;
    animation-delay: 1.5s;
    animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
    opacity:.6;
    animation-delay: 2s;
    animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
    opacity:.7;
    animation-delay: 2.5s;
    animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
    opacity:.8;
    animation-delay: 3s;
    animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
    opacity:.9;
    animation-delay: 3.5s;
    animation-timing-function:ease-in;
}
